.btn {
  min-width: 80px;
  min-height: 40px;

  color: #fff;
  border: 0;
  border-radius: 8px;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: #ddd;
    color: #555;

    cursor: auto;
  }

  &:disabled:hover {
    transform: scale(1);
    opacity: 1;
  }

  &--primary {
    background-color: #202142;
  }

  &--secondary {
    background-color: #ff6a95;
  }
}
