$color-accent-pink: rgb(255, 106, 149);

.header {
  height: 80px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #222;

  &__title {
    color: $color-accent-pink;
  }
}
