$color-accent-pink: cyan;

.header {
  height: 80px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #111;

  &__title {
    font-size: 1.8rem;
    color: $color-accent-pink;

    @media (max-width: 480px) {
      font-size: 1.4rem;
    }
  }
}
